body {
    margin: 0;
    font-family: "Arial", serif;
    width: 100vw;
    background: url(images/background_pokemon.png) no-repeat center fixed;
    background-size: cover;
}

header {
    background: url(images/logo_metalic.png) no-repeat;
    background-position: 50% 66%;
    background-size: 46%;
    width: 100%;
    height: 28vh;
    position: relative;
}

#header_container {
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    top: 50%;
}

.game_title {
    color: #FFFFFF;
    display: inline-block;
    left: 2%;
    text-shadow: 3px 3px #17427B;
    top: 8vh;
    position: relative;
}

.header_wrapper {
    background-color: #4B8948;
    padding: 1% 4%;
    height: 55vh;
    border-radius: 3%;
}
.header_wrapper h1 {
    text-transform: uppercase;
    color: #FFCB05;
    text-shadow: 2px 2px #153166;
}
.header_wrapper img {
    float: left;
    padding-right: 3%;
}
.header_wrapper p {
    color: #FEDE00;
}

.main_wrapper {
    width: 100%;
    position: relative;
    height: 60vh;
}

#stats {
    float: left;
    position: relative;
    left: 3%;
    top: 1vh;
}

.stats_container {
    border: 2px solid black;
    background-color: #153166;
    height: 55vh;
    width: 17vw;
    text-align: center;
}

.stats_header {
    text-align: center;
    color: #ED1919;
    font-size: 20px;
    text-transform: uppercase;
    margin: 17% 0 13%;
}

.stats_list {
    list-style-type: none;
    font-size: 20px;
    padding: 0;
    margin-bottom: 11%;
    position: relative;
}

.value {
    color: #FFFFFF;
}

.stats_btn {
    position: relative;
    background-color: #ED1919;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    margin-bottom: 10%;
}

.stats_btn:hover {
    color: inherit;
}

.reset_btn {
    width: 60%;
    position: relative;
    background-color: #ED1919;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
}

.reset_btn:hover {
    color: inherit;
}

.stats_list li {
    padding-bottom: 8%;
}

.setting_link {
    /* text-align: center; */
    position: relative;
    right: 8%;
}

.link_list li {
    background-color: #5ce638;
}

.link_list li span:hover {
    color: inherit;
}

.link_list li span {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10%;
}

.game_area {
    position: relative;
    float: left;
    left: 6%;
    width: 75%;
    /* top: 5vh; */
    box-sizing: border-box;
}

.card {
    max-width: 15%;
    height: 21vh;
    position: relative;
    border-radius: 5%;
    margin: 0.5%;
    display: inline-block;
    transition-duration: 1.25s;
    transform-style: preserve-3d;
    z-index: 1;

}

.flip-card  {
    transform: rotate3D(0,1,0,180deg);
}

.front, .back {
    backface-visibility: hidden;
}

.back {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.front {
    transform: rotate3D(0, 1, 0, 180deg);
    border: 3px solid black;
    border-radius: 5%;
    height: 100%;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.poke_catch {
    top: 7vh;
    position: absolute;
    height: 10vh;
    width: 10vh;
    z-index: 2000;
    background-image:url(images/pokemon_ball/poke.png);
    background-size:contain;
    background-repeat:no-repeat;
    transform: scale(1.5);
}

.poke_catch img {
    width: 100%;
}

.poke_wobble {
    -webkit-animation: example 1.7s infinite; /* Chrome, Safari, Opera */
    animation: pokeball 1.7s infinite;
}

@keyframes pokeball {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.capture_animation {
    transform-origin: 15% 15%;
    transition-duration: 1.5s;
    transform: scale(0.01);
}



